<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="POCOGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <POCOGenerator.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Server=localhost;Database=Northwind;Trusted_Connection=True;User ID=;Password=;</value>
            </setting>
            <setting name="SQLText" serializeAs="String">
                <value>SELECT * FROM [TableName]</value>
            </setting>
            <setting name="SQLView" serializeAs="String">
                <value>SELECT * FROM [ViewName]</value>
            </setting>
            <setting name="SQLProcedure" serializeAs="String">
                <value>EXEC StoredProcedure @parameter1=value1, @parameter2=value2, ... [AS Result1, Result2, ...]</value>
            </setting>
            <setting name="ConnectionStrings" serializeAs="String">
                <value />
            </setting>
        </POCOGenerator.Properties.Settings>
    </userSettings>
</configuration>